%br
.jumbotron
  %h1 Blocmetrics
  %p Easily track events for any of your web apps!
  %p
    = link_to "Sign In", new_user_session_path, class: 'btn btn-primary'
    or
    = link_to "Sign Up", new_user_registration_path, class: 'btn btn-primary'
    today!

.row
  .col-md-4
    %h2 Easy integration
    %p Add a simple Javascript snippet to the event you wish to track.
  .col-md-4
    %h2 Easy registration
    %p Add and remove events with ease from your Blocmetrics dashboard.
  .col-md-4
    %h2 Feel at ease
    %p With our beautiful charts and simple to use API you'll always be able to track events and feel at ease.
  
